<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>MIMO Community Edition!</h1>
    <p>
      A friend has invited you to join him on his MIMO platform, <%= @business %>.
    </p>
    <p>
      Sign up here:
    </p>

    <p>You stay classy!</p>
  </body>
</html>